:root {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  background-image: url(/src/assets/img/Genshin_impact_fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  font-family: "Mi fuente";
}
